<div class="dialog">
  <div class="dialog__header">
    @if (data.icon) {
      <div class="dialog__icon-wrap" [class.dialog__icon-wrap--danger]="tone === 'danger'">
        <mat-icon>{{ data.icon }}</mat-icon>
      </div>
    }
    <h2 class="dialog__title" mat-dialog-title>{{ data.title }}</h2>
  </div>

  <mat-dialog-content class="dialog__body">
    <p class="dialog__message">{{ data.message }}</p>
  </mat-dialog-content>

  <mat-dialog-actions class="dialog__actions" align="end">
    <button mat-stroked-button type="button" (click)="cancel()">
      <mat-icon>close</mat-icon>
      {{ cancelLabel }}
    </button>
    <button
      mat-flat-button
      type="button"
      [class.dialog__btn--danger]="tone === 'danger'"
      (click)="confirm()"
    >
      @if (data.icon) {
        <mat-icon>{{ data.icon }}</mat-icon>
      }
      {{ data.confirmLabel }}
    </button>
  </mat-dialog-actions>
</div>
